{% comment %}
This is custom Section
{% endcomment %}

<div id="shopify-section-bottom-info-bar" class="shopify-section">

<div class="layout__stretchBg
colorCombo
font__size--small info-bar" style="background-color: #ef0000; color: #ffffff; padding-top: 2px; padding-bottom: 2px;">
  <div class="inherit middle row layout__content">
<div class=" hide-desktop 
    col-12 col-md middle center 
    center-md
    " style="height: 32px; line-height: 32px; overflow: hidden;">
      <div data-currentmessage="2" data-blocktype="barTextMarquee" data-blockid="a1d0a7b7-8ae7-43a2-9bea-88b5f06a5e4e" data-messagescount="2" id="marquee--a1d0a7b7-8ae7-43a2-9bea-88b5f06a5e4e" class="marquee-container" style="transform: translateY(-200%);"><p>Save Up To 50% Off Mattresses!</p><p>FREE Pillows With Mattress Orders*</p><p>Free Next Day Delivery - Order Before 1pm 🚀</p></div>
      </div><div class="hide-mobile  
    col-12 col-md middle center 
    center-md
    " style="height: 32px; line-height: 32px; overflow: hidden;">
      <div data-currentmessage="0" data-blocktype="barTextMarquee" data-blockid="495b8c28-b68b-42ce-bb28-aa4c191740c8" data-messagescount="1" id="marquee--495b8c28-b68b-42ce-bb28-aa4c191740c8" class="marquee-container" style="transform: translateY(0%);"><p>Save Up To 50% Off Mattresses + Get 2 FREE Pillows* </p><p>Free Next Day Delivery - Order Before 1pm 🚀</p></div>
      </div>
  </div>
</div>
</div>