{% if settings.enable_freegift_banner_navigation %}
  <div
    class="free-gift-bundle-badge"
    bis_skin_checked="1"
  >
    {{ settings.text_freegift_banner_mobilenav }}
    {% comment %}
      <b>🎁 Free items</b> included worth up to £247
    {% endcomment %}
  </div>
{% endif %}
