{% if settings.enable_freegift_banner_navigation %}
  <div class="header-free-gift-bundle-badge" bis_skin_checked="1">
    {{ settings.text_freegift_banner_desktopnav }}
    {% comment %}
      <b>🎁 Free items</b> included (£247 value)
    {% endcomment %}
  </div>
{% endif %}
