
<div class="product_quick_navigation_block hide-mobile">
  <div class="quick_nav_mid">
    <span class="">Quick navigation: </span>

    <a href="#matt-product-details" title="Product Details">Product Details</a>
    
    <a href="#matt-why-choose" title="Why Choose 400">Why choose it</a>

    <a href="#matt-review" title="Review">Reviews</a>

    <a href="#matt-durability-text" title="durability">Temperature</a>

    {% comment %}
    <a href="#matt-awards" title="Awards">Awards</a>
      
    <a href="#matt-gurantees" title="Guarantees">Guarantees</a>
  
    <a href="#matt-nightrial" title="100 Night Trial">Sleep Trial</a>
    {% endcomment %}

    <a href="#matt-durability-video" title="durability">Durability</a>

    <a class="last-child-a helptochoose" href="javascript:void(0)" title="Help to Choose">Help to Choose</a>

    <!--
      <div class="quicksize-tab"> Select size</div>
      <div class="quicksize-tab"> <a href="#matt-slect-size" class="quick-size-slec">Select size</a> </div>
    -->
    <div class="quicksize-tab" style="transition: all 0.5s;">
      <a href="javascript:void(0)" class="quick-size-slec">Select size</a>
    </div>
  </div>
</div>
