<div class="financing-main">
 <div class="dividebuy-info">
    <div class="container">
      <div class="d-info-row">
        <div class="d-info-img">
          <img src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/Mattress-finance.jpg?v=1748617376" alt="">
        </div>
        <div class="d-info-content">
          <h2>With DivideBuy, you can spread the cost of your REM-Fit purchase with monthly payments.</h2>
          <p>
            Depending on your chosen products, you can select an instalment plan ranging from 3 to 36 months. Just
            complete a simple online application and DivideBuy will let you know if you’re approved. Once accepted,
            simply sign your agreement electronically, and we’ll get your REM-Fit order on its way.
          </p>
          <p>
            You’ll either fall head over heels for REM-Fit and never look back—or part ways with no hard feelings.
            Returns are hassle-free, and refunds are processed quickly once we’ve collected your REM-Fit item.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="dividebuy-steps">
    <div class="container">
      <div class="d-steps-box">
        <div class="d-steps-heading">
          <img src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/dividebuy-logo.png?v=1748599464" alt="">
        </div>
        <div class="d-steps-body">
          <div class="d-steps-features">
            <h3 class="d-steps-title">FEATURES</h3>
            <h3>How using DivideBuy works</h3>
            <div class="d-steps-row">
              <div class="d-steps-col">
                <div class="d-steps-img">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/Add_items_to_your_basket.png?v=1748599463"
                    alt=""
                  >
                </div>
                <span>Step 1</span>
                <h4>Add items to your basket</h4>
              </div>
              <div class="d-steps-col">
                <div class="d-steps-img">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/Visit_the_checkout_select_DivideBuy.png?v=1748599464"
                    alt=""
                  >
                </div>
                <span>Step 2</span>
                <h4>Visit the checkout & select DivideBuy</h4>
              </div>
              <div class="d-steps-col">
                <div class="d-steps-img">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/Apply_for_credit.png?v=1748599464"
                    alt=""
                  >
                </div>
                <span>Step 3</span>
                <h4>Apply for credit</h4>
              </div>
              <div class="d-steps-col">
                <div class="d-steps-img">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/Make_initial_payment.png?v=1748599464"
                    alt=""
                  >
                </div>
                <span>Step 4</span>
                <h4>Make initial payment</h4>
              </div>
              <div class="d-steps-col">
                <div class="d-steps-img">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/Order_is_processed_goods_dispatched.png?v=1748599463"
                    alt=""
                  >
                </div>
                <span>Step 5</span>
                <h4>Order is processed & goods dispatched</h4>
              </div>
            </div>
            <p>
              Finance available subject to age and status.
              <a href="terms-and-conditons">Terms and conditions apply.</a>
            </p>
          </div>
          <div class="d-steps-faq">
            <h3 class="d-steps-title">FREQUENTLY ASKED QUESTIONS</h3>
            <ul class="accordion-list">
              <li>
                <h3>Are there limits on how much I can spend?</h3>
                <div class="answer">
                  <p>
                    DivideBuy interest free credit is available on products and services from £250 to £6000. Credit is
                    available from 3 to 36 months. 3-12 months from £250, 18 months from £700, 24 months from £800, 36 months from £1500.
                  </p>
                </div>
              </li>
              <li>
                <h3>Who can apply for DivideBuy credit?</h3>
                <div class="answer">
                  <ul>
                    <li><span dir="ltr" role="presentation">Applicants must be aged between 18 and 75</span></li>
                    <li><span dir="ltr" role="presentation">Be a permanent UK resident </span></li>
                    <li><span dir="ltr" role="presentation">Have a valid debit or credit card</span></li>
                    <li><span dir="ltr" role="presentation">Have a valid UK mobile number </span></li>
                    <li><span dir="ltr" role="presentation">Have a valid email address</span></li>
                  </ul>
                </div>
              </li>
              <li>
                <h3>Will a credit check be performed?</h3>
                <div class="answer">
                  <p>Yes. A credit check is performed to assess your eligibility during your application.</p>
                </div>
              </li>
              <li>
                <h3>How do I make my monthly payments?</h3>
                <div class="answer">
                  <p>
                    Payment is collected via a Continuous Payment Authority (CPA). This method uses your long card
                    number, expiry date and three- digit CV2. Payments will be collected automatically on the date your
                    instalment is due.
                  </p>
                </div>
              </li>
              <li>
                <h3>Can I request delivery to an address other than my home address?</h3>
                <div class="answer">
                  <p>
                    To guard against fraudulent applications, we are only able to deliver goods to your home address.
                  </p>
                </div>
              </li>
              <li>
                <h3>What if I would like to cancel/ return my order?</h3>
                <div class="answer">
                  <p>
                    The first step is to contact the retailer directly to cancel your order. If you have already
                    received your order, you’ll need to arrange for it to be returned using the retailer’s returns
                    process. The retailer will then contact us to confirm your order has been returned, so we can issue
                    a refund and cancel your credit agreement.
                  </p>
                </div>
              </li>
              <li>
                <h3>My application was declined. Now what?</h3>
                <div class="answer">
                  <p>
                    We’re sorry that your application has been declined. You have the right to appeal this decision,
                    although there is no guarantee that the outcome will change. You can request an appeal by contacting
                    us at: <a href="customerservice@dividebuy.co.uk">customerservice@dividebuy.co.uk</a> We may ask you
                    to provide additional information to support your appeal.
                  </p>

                  <p>
                    You may also want to obtain a copy of your credit file before making any further applications. The
                    credit reference agency we used for your Zopa Bank application are set out below.
                  </p>

                  <p>
                    TransUnion International Limited, <br>
                    One Park Lane, <br>
                    Leeds,<br>
                    West Yorkshire<br>
                    LS3 1EP<br>
                    www.transunion.co.uk
                  </p>

                  <p>
                    You can also find more information about how credit referencing works in our privacy notice at: <br>
                    www.dividebuy.co.uk/privacy-policy
                  </p>
                </div>
              </li>
              <li>
                <h3>Who can I contact if I need help?</h3>
                <div class="answer">
                  <p>
                    For any questions related to DivideBuy please contact us by visiting
                    <a href="https://www.dividebuy.co.uk" target="_blank">www.dividebuy.co.uk</a>. For a full list of
                    FAQs please
                    <a href="https://dividebuy.co.uk/faqs/">click here.</a>
                  </p>
                </div>
              </li>
              <li>
                <h3>Are there any fees or charges?</h3>
                <div class="answer">
                  <p>No – there are absolutely no hidden charges. All our finance options are transparent from the start. If you choose our interest-free credit (available for up to 12 months), you’ll pay only the cost of your purchase, spread evenly over your chosen term. If you opt for a longer-term plan (up to 48 months), a fixed 9.9% APR applies, with no additional fees or surprises. You’ll see a full breakdown of your payments before you commit, so you can shop with confidence.</p>
                </div>
              </li>
              <li>
                <h3>How can I manage my DivideBuy account?</h3>
                <div class="answer">
                  <p>
                    To manage your account and make payments, you can log in
                    <a href="https://accounts.dividebuy.co.uk/" target="_blank">https://accounts.dividebuy.co.uk/</a>
                  </p>
                </div>
              </li>
              <li>
                <h3>What if I need to change my delivery address from my billing address?</h3>
                <div class="answer">
                  <p>
                    DivideBuy will need to approve any deliveries to addresses other than the application/billing
                    address. Without their approval, we will not be able to ship to a different address as fraud
                    prevention measures apply. To have goods delivered to another address, once you have placed your
                    order and paid a first instalment, you need to contact DivideBuy directly who will then notify us of
                    the changes.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-steps-bottom">
          <h3>How can I contact DivideBuy?</h3>
          <h4>Email: <a href="hello@dividebuy.co.uk">hello@dividebuy.co.uk</a></h4>
          <h4>or via the DivideBuy live chat facility at <a href="dividebuy.co.uk">dividebuy.co.uk</a></h4>
          <img src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/dividebuy-logo.png?v=1748599464" alt="">
          <p>
            Interest free credit agreements provided by Zopa Bank Limited trading as DivideBuy are not regulated by the Financial Conduct Authority and do not fall under the jurisdiction of the Financial Ombudsman Service. Zopa Bank Limited trading as DivideBuy is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority, and entered on the Financial Services Register (800542). Zopa Bank Limited (10627575) is incorporated in England & Wales and has its registered office at: 1st Floor, Cottons Centre, Tooley Street, London, SE1 2QG. VAT Number 281765280. DivideBuy's trading address is First Floor, Brunswick Court, Brunswick Street, Newcastle-under-Lyme, ST5 1HH. © Zopa Bank Limited 2025. All rights reserved.
          </p>
          <p>
            365 Sleep Solutions Limited T/A REM-Fit (FRN 1023581) is an Appointed Representative of Consumer Credit Compliance Limited who are authorised and regulated by the Financial Conduct Authority (FRN 631736). The permissions of Consumer Credit Compliance Limited as a Principal firm allow 365 Sleep Solutions Limited to undertake Credit Broking. 365 Sleep Solutions Limited act as a credit broker not a lender, we will introduce you to Zopa Bank Limited trading as DivideBuy and we do not earn a fee or commission for the referral. You will not pay more as a result of our commission arrangements.
          </p>
          <p>
            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('.accordion-list > li > .answer').hide();

    // Handle only li clicks, ignore clicks on .answer content
    $('.accordion-list > li').on('click', function(e) {
      // If the click originated inside .answer, do nothing
      if ($(e.target).closest('.answer').length > 0) return;

      const $this = $(this);

      if ($this.find('.answer').is(':visible')) {
        // Collapse answer but keep .active class if needed
        $this.find('.answer').slideUp();
        // OPTIONAL: remove class only if you want
        // $this.removeClass("active");
      } else {
        // Close others
        $('.accordion-list > li .answer:visible').slideUp();
        $('.accordion-list > li').removeClass('active');

        // Open this one
        $this.addClass('active').find('.answer').slideDown();
      }

      return false;
    });
  });
</script>

{% schema %}
{
  "name": "Financing Page",
  "settings": []
}
{% endschema %}
