<div class="page-title-wrapper" style="align-self: center;">
  <h1 class="page-title">
    <span
      class="base"
      data-ui-id="page-title-wrapper"
      style="color: #58327a; font-family: 'Nunito',sans-serif; font-style: inherit; font-weight: 600;line-height: 38px;"
    >
      {{ page.title }}
    </span>
  </h1>
  <div class="s__block s__block--button margin__horizontal--4">
    <a
      class="
        button button--primary
        button--filled button--primary__filled
        font__size--base font__family--base
        button__animation--none
      "
      href="https://form.typeform.com/to/bUUOrsDB"
      target="_blank"
    >
      <span>Help Me Choose My Mattress</span>
    </a>
  </div>
</div>
<div class="table-wrapper comparison">
  <table class="data table table-comparison scroll" id="product-comparison">
    <caption class="table-caption">
      Compare Products
    </caption>
    <thead>
      <tr>
        <td class="cell remove product hidden-print"></td>
        <td class="cell remove product hidden-print"></td>
        <td class="cell remove product hidden-print"></td>
        <td class="cell remove product hidden-print"></td>
        <td class="cell remove product hidden-print"></td>
      </tr>
    </thead>
    <tbody class="theadstickey">
      <tr>
        <th scope="row" class="cell label product" style="top: 0px;"><span>Product</span></th>

        <!-- ---trupti -->
        <td data-th="Product" class="cell product info">
          <a
            class="product-item-photo"
            href="https://www.rem-fit.co.uk/products/rem-fit-pocket-1000-memory-foam-hybrid-mattress?variant=44621741162742"
            title="REM-Fit® Pocket 1000 Hybrid Mattress"
          >
            <span class="product-image-container product-image-container-92" style="width:140px;">
              <span class="product-image-wrapper" style="padding-bottom: 60%;">
                <img
                  class="product-image-photo lazy"
                  src="https://www.rem-fit.co.uk/cdn/shop/files/sleep_1000_flat_1_0680aa5c-3c25-4cca-adc9-c1c172a6da95_grande.png?v=1715602034"
                  data-original="https://www.rem-fit.co.uk/cdn/shop/files/rem-fitSleep1000medium-firmTensionmattress_700x700.jpg?v=1709224940"
                  style="max-width:100%"
                  width="140"
                  height="140"
                  alt=" Pocket 1000 Hybrid Mattress"
                  loading="lazy"
              ></span>
            </span>
          </a>
          <strong class="product-item-name">
            <a
              href="https://www.rem-fit.co.uk/products/rem-fit-pocket-1000-memory-foam-hybrid-mattress?variant=44621741162742"
              title=" Pocket 1000 Hybrid Mattress"
            >
              1000 Comfort Hybrid Mattress
            </a>
          </strong>
          <div
            class="price-box price-final_price"
            data-role="priceBox"
            data-product-id="92"
            data-price-box="product-id-92"
          >
            <span class="normal-price">
              <span class="price-container price-final_price tax weee">
                <span
                  id="product-price-92-compare-list-top"
                  data-price-amount="419.40"
                  data-price-type="finalPrice"
                  class="price-wrapper "
                >
                  <span class="jsPrice price">£265.30</span></span
                >

                <span class="old-price sly-old-price no-display">
                  <span class="price-container price-final_price tax weee">
                    <span
                      id="product-price-92-compare-list-top"
                      data-price-amount="699"
                      data-price-type="oldPrice"
                      class="price-wrapper "
                      ><span class="cart__compare-price price">£425.00</span></span
                    >
                  </span>
                </span>
              </span>
            </span>

            <span data-tag-type="percent" class="tag tag--sale"> </span>
          </div>
          <div class="product-item-actions hidden-print">
            <div class="actions-primary">
              <a
                href="https://www.rem-fit.co.uk/products/rem-fit-pocket-1000-memory-foam-hybrid-mattress?variant=44621741162742"
                class="action tocart primary"
              >
                <span>Shop Now</span>
              </a>
            </div>
          </div>
        </td>

        <!-- -endtrupti- -->

        <td data-th="Product" class="cell product info">
          <a
            class="product-item-photo"
            href="https://www.rem-fit.co.uk/products/rem-fit%C2%AE-3000-supreme-hybrid-mattress?variant=56299177279868"
            title="Hybrid Mattress"
          >
            <span class="product-image-container product-image-container-92" style="width:140px;">
              <span class="product-image-wrapper" style="padding-bottom: 60%;">
                <img
                  class="product-image-photo lazy"
                  src="https://www.rem-fit.co.uk/cdn/shop/files/remfit400_grande.png?v=1656070708"
                  data-original="https://www.rem-fit.co.uk/cdn/shop/files/rem-firSleep400mediumTensionmattress_700x700.jpg?v=1709224792"
                  style="max-width:100%"
                  width="140"
                  height="140"
                  alt="Hybrid Mattress"
                  loading="lazy"
              ></span>
            </span>
          </a>
          <strong class="product-item-name">
            <a
              href="https://www.rem-fit.co.uk/products/rem-fit%C2%AE-3000-supreme-hybrid-mattress?variant=56299177279868"
              title="400 Hybrid Mattress"
            >
              3000 Supreme Hybrid Mattress
            </a>
          </strong>
          <div
            class="price-box price-final_price"
            data-role="priceBox"
            data-product-id="92"
            data-price-box="product-id-92"
          >
            <span class="normal-price">
              <span class="price-container price-final_price tax weee">
                <span
                  id="product-price-92-compare-list-top"
                  data-price-amount="419.40"
                  data-price-type="finalPrice"
                  class="price-wrapper "
                >
                  <span class="jsPrice price">£419.40</span></span
                >

                <span class="old-price sly-old-price no-display">
                  <span class="price-container price-final_price tax weee">
                    <span
                      id="product-price-92-compare-list-top"
                      data-price-amount="699"
                      data-price-type="oldPrice"
                      class="price-wrapper "
                      ><span class="cart__compare-price price">£699.00</span></span
                    >
                  </span>
                </span>
              </span>
            </span>

            <span data-tag-type="percent" class="tag tag--sale"> </span>
          </div>
          <div class="product-item-actions hidden-print">
            <div class="actions-primary">
              <a
                href="https://www.rem-fit.co.uk/products/rem-fit%C2%AE-3000-supreme-hybrid-mattress?variant=56299177279868"
                class="action tocart primary"
              >
                <span>Shop Now</span>
              </a>
            </div>
          </div>
        </td>
        <td data-th="Product" class="cell product info">
          <a
            class="product-item-photo"
            href="https://www.rem-fit.co.uk/products/rem-fit-4000-ortho-elite-hybrid-mattress"
            title="4000 Ortho Elite Hybrid Mattress"
          >
            <span class="product-image-container product-image-container-118" style="width:140px;">
              <span class="product-image-wrapper" style="padding-bottom: 60%;">
                <img
                  class="product-image-photo lazy"
                  src="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/500-ortho-thumbnail_360_a8b7d92e-00be-4135-8769-35f1660d2d12.png?v=1719468830"
                  data-original="https://cdn.shopify.com/s/files/1/0635/4432/8438/files/500-ortho-thumbnail_360_a8b7d92e-00be-4135-8769-35f1660d2d12.png?v=1719468830"
                  style="max-width:100%"
                  width="140"
                  height="140"
                  alt="4000 Ortho Hybrid Mattress"
                  loading="lazy"
              ></span>
            </span>
          </a>
          <strong class="product-item-name">
            <a
              href="https://www.rem-fit.co.uk/products/rem-fit-4000-ortho-elite-hybrid-mattress"
              title="4000 Ortho Elite Hybrid Mattress"
            >
              4000 Ortho Elite Hybrid Mattress
            </a>
          </strong>
          <div
            class="price-box price-final_price"
            data-role="priceBox"
            data-product-id="118"
            data-price-box="product-id-118"
          >
            <span class="normal-price">
              <span class="price-container price-final_price tax weee">
                <span
                  id="product-price-118-compare-list-top"
                  data-price-amount="479.40"
                  data-price-type="finalPrice"
                  class="price-wrapper "
                  ><span class="price jsPrice">£479.40</span></span
                >

                <span class="old-price sly-old-price no-display">
                  <span class="price-container price-final_price tax weee">
                    <span
                      id="product-price-118-compare-list-top"
                      data-price-amount="799"
                      data-price-type="oldPrice"
                      class="price-wrapper "
                      ><span class="price cart__compare-price">£799.00</span></span
                    >
                  </span>
                </span>
              </span>
            </span>

            <span data-tag-type="percent" class="tag tag--sale"> </span>
          </div>
          <div class="product-item-actions hidden-print">
            <div class="actions-primary">
              <a
                href="https://www.rem-fit.co.uk/products/rem-fit-4000-ortho-elite-hybrid-mattress"
                class="action tocart primary"
              >
                <span>Shop Now</span>
              </a>
            </div>
          </div>
        </td>
        <td data-th="Product" class="cell product info">
          <a
            class="product-item-photo"
            href="https://www.rem-fit.co.uk/products/rem-fit%C2%AE-5000-lux-elite-hybrid-mattress"
            title="600 Lux Hybrid Mattress"
          >
            <span class="product-image-container product-image-container-501" style="width:140px;">
              <span class="product-image-wrapper" style="padding-bottom: 60%;">
                <img
                  class="product-image-photo lazy"
                  src="https://www.rem-fit.co.uk/cdn/shop/files/remfit600_grande.png?v=1655298318"
                  data-original="https://www.rem-fit.co.uk/cdn/shop/files/rem-fitSleep600medium-firmTensionmattress_700x700.jpg?v=1709224906"
                  style="max-width:100%"
                  width="140"
                  height="140"
                  alt="600 Lux Hybrid Mattress"
                  loading="lazy"
              ></span>
            </span>
          </a>
          <strong class="product-item-name">
            <a
              href="https://www.rem-fit.co.uk/products/rem-fit%C2%AE-5000-lux-elite-hybrid-mattress"
              title="Lux Hybrid Mattress"
            >
              5000 Lux Elite Hybrid Mattress
            </a>
          </strong>
          <div
            class="price-box price-final_price"
            data-role="priceBox"
            data-product-id="501"
            data-price-box="product-id-501"
          >
            <span class="normal-price">
              <span class="price-container price-final_price tax weee">
                <span
                  id="product-price-501-compare-list-top"
                  data-price-amount="599.40"
                  data-price-type="finalPrice"
                  class="price-wrapper "
                  ><span class="price jsPrice">£599.40</span></span
                >
                <span class="old-price sly-old-price no-display">
                  <span class="price-container price-final_price tax weee">
                    <span
                      id="product-price-501-compare-list-top"
                      data-price-amount="999"
                      data-price-type="oldPrice"
                      class="price-wrapper "
                      ><span class="price cart__compare-price">£999.00</span></span
                    >
                  </span>
                </span>
              </span>
            </span>

            <span data-tag-type="percent" class="tag tag--sale"> </span>
          </div>
          <div class="product-item-actions hidden-print">
            <div class="actions-primary">
              <a
                href="https://www.rem-fit.co.uk/products/rem-fit%C2%AE-5000-lux-elite-hybrid-mattress"
                class="action tocart primary"
              >
                <span>Shop Now</span>
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody class="compare-tbody">
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Mattress Tension </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">Medium-firm tension (7/10)</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Medium tension (6/10)</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Firm tension (9/10)</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Medium-firm tension (7.5/10)</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Mattress height </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">20cm</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">22cm</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">25cm</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">25cm</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Top Comfort Layer </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">
            5cm REMCell contouring foam. Open-cell breathable foam made with sustainably sourced natural plant bio
            polyols. Zoned for tailored support
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            4cm Premium viscoelastic open-cell memory foam - body moulding, cool & breathable. Zoned for tailored
            support
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            5cm Premium viscoelastic open-cell memory foam - body moulding, cool & breathable. Zoned for tailored
            support
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            5cm Premium viscoelastic open-cell memory foam - body moulding, cool & breathable. Zoned for tailored
            support
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Spring count </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">1000 pocket springs provide tailored support</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            3000 pocket springs provide tailored support.
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            4000 pocket springs provide tailored support.
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            5000 pocket springs provide tailored support.
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Second comfort layer </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">n/a</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Secondary layer enhances support for increased longevity and comfort</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Secondary layer enhances support for increased longevity and comfort</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Secondary layer enhances support for increased longevity and comfort</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Pocket spring height </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">12.5cm tall</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">15.5cm tall</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">15cm tall</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">15cm tall</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Edge support </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">
            12.5cm high density foam perimeter wall - consistent support tight to the edge of the mattress
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            15.5cm high density foam perimeter wall - consistent support tight to the edge of the mattress
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            15cm high density foam perimeter wall - consistent support tight to the edge of the mattress
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            15cm density foam perimeter wall - consistent support tight to the edge of the mattress
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Base layer </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">
            2.5cm high density foam base - suitable for all bed bases including adjustable beds
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            2.5cm high density foam base - suitable for all bed bases including adjustable beds
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            2.5cm high density foam base - suitable for all bed bases including adjustable beds
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            2.5cm high density foam base - suitable for all bed bases including adjustable beds
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Zoning </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Fabric cover </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">Breathable Re-Ax super soft knitted cover</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Breathable Re-Ax super soft knitted cover</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Breathable Re-Ax super soft knitted cover</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Breathable Re-Ax super soft knitted cover</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Removable/<br/>washable cover </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> No roll-together system </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes - sleep peacefully throughout the night without feeling disturbed by your partners movements
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes - sleep peacefully throughout the night without feeling disturbed by your partners movements
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes - sleep peacefully throughout the night without feeling disturbed by your partners movements
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes - sleep peacefully throughout the night without feeling disturbed by your partners movements
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Hypoallergenic </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">Yes</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Guarantee </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">15-Years full replacement guarantee</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">15-Years full replacement guarantee</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">15-Years full replacement guarantee</div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">15-Years full replacement guarantee</div>
        </td>
      </tr>
      <tr>
        <th scope="row" class="cell label" style="top: 0px;">
          <span class="attribute label"> Sleep trial </span>
        </th>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes, up to 200 night sleep trial. Free returns and full mattress refund! Mattresses returned & collected by the British Heart Foundation, all proceeds donated to their charity.
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes, up to 200 night sleep trial. Free returns and full mattress refund! Mattresses returned & collected by the British Heart Foundation, all proceeds donated to their charity.
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes, up to 200 night sleep trial. Free returns and full mattress refund! Mattresses returned & collected by the British Heart Foundation, all proceeds donated to their charity.
          </div>
        </td>
        <td class="cell product attribute">
          <div class="attribute value">
            Yes, up to 200 night sleep trial. Free returns and full mattress refund! Mattresses returned & collected by the British Heart Foundation, all proceeds donated to their charity.
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
        // Get all cart items
  var cartItems = document.querySelectorAll('.info');
  // Loop through each cart item
  cartItems.forEach(function(item) {
    // Get the discounted price for 1 item
  var discountedPrice = parseFloat(item.querySelector('.jsPrice').textContent.replace(/[^0-9.-]+/g, ""));
console.log(discountedPrice);
    // Get the compare at price for 1 item
var compareAtPrice = parseFloat(item.querySelector('.cart__compare-price').textContent.replace(/[^0-9.-]+/g, ""));

console.log(compareAtPrice);
    // Get the quantity for the current item
    var qtyInput = '1';

    if (!qtyInput) {
      // If quantity input is not found, skip this item and check the next one
      return;
    }

    // Calculate the original price for all items
    var originalPrice = compareAtPrice ;

    // Calculate the total discounted price for all items
    var totalDiscountedPrice = discountedPrice ;

    // Calculate the percentage discount
    var percentageDiscount = ((originalPrice - totalDiscountedPrice) / originalPrice) * 100;

    // Add the percentage discount to the sale tag
    var saleTag = item.querySelector('.tag--sale');
    var saleTagempty = item.querySelector('.tag--sale').value;


    if (saleTag) {
      saleTag.textContent = '-' +Math.round(percentageDiscount) + '%';
    } else {

    }
  });
</script>
<script>
 jQuery(window).scroll(function () {
              var tbodycomp = jQuery('.compare-tbody').offset().top;
              if (jQuery(window).scrollTop() > tbodycomp) {
                  jQuery(".theadstickey").addClass("stickey-thead");
              } else {
                  jQuery(".theadstickey").removeClass("stickey-thead");
              }
          });
 jQuery(document).ready(function () {
jQuery('.table-comparison').scroll(function() {
  jQuery('.compare-tbody').width(jQuery('.table-comparison').width() + jQuery('.table-comparison').scrollLeft());
});

});
            
</script>
