<section class="video-scection">
  <div class="video-container">
    <div class="video-div">
      <iframe src="https://cdn.shopify.com/videos/c/o/v/2f5a6c33a49e42848143fdb9980ac931.mp4" width="600px" height="300px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
      <div class="video-text">
        <p>We’re so confident in the build quality of our mattresses that each of our models come with a full replacement 15-year guarantee. Not a sliding scale warranty… full replacement guaranteed for 15 years!</p>

<p>With over four decades in the sleep industry our teams focus is to make sure people sleep well and recover fully. For us, it’s so much more than just a job. We are passionate about helping you live a healthier life!</p>
      </div>
    </div>
  </div>
</section>